<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="component" addfieldpath="/administrator/components/com_logbook/models/fields"
		label="COM_LOGBOOK_COMPONENT_LABEL"
		description="COM_LOGBOOK_COMPONENT_DESC"
		>

		<field
			name="spacer"
			type="spacer"
			hr="true"
		/>

		<field
			name="extensions_list" type="text"
	      	default="3d;archive;audio;c;cpp;css;csv;doc;docx;download;eps;ext;flash;generic;gif;h;html;image;index;jpg;js;link;link_arrow;link_broken;midi;mov;music;oo-calc;oo-draw;oo-impress;oo-write;pdf;php;png;ppt;pptx;ps;rtf;sql;txt;vcard;video;wordx;xls;xlsx;xml;zip"
	      	label="COM_LOGBOOK_FIELD_EXTENSION_LIST_LABEL"
	      	description="COM_LOGBOOK_FIELD_EXTENSION_LIST_DESC" size="30"
		/>

		<field name="allowed_extensions" type="text" default="pdf;doc;txt"
	      label="COM_LOGBOOK_FIELD_ALLOWED_EXTENSIONS_LABEL"
	      description="COM_LOGBOOK_FIELD_ALLOWED_EXTENSIONS_DESC" size="30"
		/>

		<field name="all_files" type="radio" default="0"
			class="btn-group btn-group-yesno"
			label="COM_LOGBOOK_FIELD_ALLOWED_FILE_TYPES_LABEL"
			description="COM_LOGBOOK_FIELD_ALLOWED_FILE_TYPES_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field  name="max_file_size" type="maxfilesize" default="2"
			label="COM_LOGBOOK_MAX_FILE_SIZE_LABEL"
			description="COM_LOGBOOK_MAX_FILE_SIZE_DESC"
		/>

		<field
			name="spacer2"
			type="spacer"
			hr="true"
		/>

		<field name="uninstall_remove_all" type="radio" default="0"
			class="btn-group btn-group-yesno"
			label="COM_LOGBOOK_FIELD_REMOVE_FILE_DIRECTORY_LABEL"
			description="COM_LOGBOOK_FIELD_REMOVE_FILE_DIRECTORY_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			default="5"
			showon="save_history:1"
		/>


	</fieldset>

	<fieldset name="logs"
	    label="COM_LOGBOOK_FIELDSET_CONFIG_LOGS_LABEL"
	    description="COM_LOGBOOK_FIELDSET_CONFIG_LOGS_DES">

	    <field name="show_title"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    default="1"
		    label="COM_LOGBOOK_FIELD_SHOW_TITLE_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_TITLE_DESC">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="link_title"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    default="1"
		    label="JGLOBAL_LINKED_TITLES_LABEL"
		    description="COM_LOGBOOK_FIELD_LINK_TITLE_DESC">
		    <option value="1">JYES</option>
		    <option value="0">JNO</option>
	    </field>

	    <field name="show_category"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_SHOW_CATEGORY_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_CATEGORY_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="link_category"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_LINK_CATEGORY_LABEL"
		    description="COM_LOGBOOK_FIELD_LINK_CATEGORY_DESC"
		    default="1">
		    <option value="1">JYES</option>
		    <option value="0">JNO</option>
	    </field>

	    <field name="show_put_online_by"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    default="1"
		    label="COM_LOGBOOK_FIELD_SHOW_PUT_ONLINE_BY_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_PUT_ONLINE_BY_DESC">
		    <option value="1">JYES</option>
		    <option value="0">JNO</option>
	    </field>

	    <field name="show_author"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_AUTHOR_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_AUTHOR_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_file_name"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_FILE_NAME_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_FILE_NAME_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_file_size"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_FILE_SIZE_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_FILE_SIZE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_file_type"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_FILE_TYPE_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_FILE_TYPE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_extension_icon"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_EXTENSION_ICON_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_EXTENSION_ICON_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_create_date"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_SHOW_CREATE_DATE_LABEL"
		    description="COM_LOGBOOK_SHOW_CREATE_DATE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_modify_date"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_SHOW_MODIFY_DATE_LABEL"
		    description="COM_LOGBOOK_SHOW_MODIFY_DATE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_publish_date"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_SHOW_PUBLISH_DATE_LABEL"
		    description="COM_LOGBOOK_SHOW_PUBLISH_DATE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>


	    <field name="show_downloads"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_DOWNLOADS_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_DOWNLOADS_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="show_complete_details"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_COMPLETE_DETAILS_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_COMPLETE_DETAILS_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>
    </fieldset>


	<fieldset
		name="category"
		label="JCATEGORY"
		description="COM_LOGBOOK_CATEGORY_DESC"
		>
		<field
			name="category_layout"
			type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_logbook"
			view="category"
		/>

		<field
			name="show_category_title"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_description_image"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="maxLevel"
			type="list"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
			>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_LOGBOOK_SHOW_EMPTY_CATEGORIES_DESC"
			default="0"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_no_logs"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_LOGBOOK_NO_LOGS_LABEL"
			description="COM_LOGBOOK_NO_LOGS_DESC"
			default="1" >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_subcat_desc"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_cat_num_logs"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_LOGBOOK_FIELD_CONFIG_CAT_SHOWNUMBERS_DESC"
			label="COM_LOGBOOK_FIELD_CONFIG_CAT_SHOWNUMBERS_LABEL"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_tags" type="radio"
		       label="COM_LOGBOOK_FIELD_SHOW_CAT_TAGS_LABEL"
		       description="COM_LOGBOOK_FIELD_SHOW_CAT_TAGS_DESC"
		       class="btn-group btn-group-yesno"
		       default="1">
		       <option value="1">JSHOW</option>
		       <option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset
		name="categories"
		label="JCATEGORIES"
		description="COM_LOGBOOK_CATEGORIES_DESC"
		>
		<field
			name="show_base_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>

		</field>

		<field
			name="maxLevelcat"
			type="list"
			default="-1"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_LOGBOOK_SHOW_EMPTY_CATEGORIES_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_subcat_desc_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_cat_num_logs_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_LOGBOOK_FIELD_CONFIG_CAT_SHOWNUMBERS_DESC"
			label="COM_LOGBOOK_FIELD_CONFIG_CAT_SHOWNUMBERS_LABEL"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset
		name="list_layout"
		label="JGLOBAL_LIST_LAYOUT_OPTIONS"
		description="COM_LOGBOOK_LIST_LAYOUT_DESC"
		>

		<field
			name="show_author"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_LOGBOOK_FIELD_CONFIG_HITS_DESC"
			label="JGLOBAL_HITS"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="list_show_date"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="JGLOBAL_SHOW_DATE_LABEL"
		    description="JGLOBAL_SHOW_DATE_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>

	    <field name="date_format"
		    type="text" size="15"
		    label="JGLOBAL_DATE_FORMAT_LABEL"
		    description="COM_LOGBOOK_FIELD_DATE_FORMAT_DESC" />

		<field name="show_downloads"
		    type="radio"
		    class="btn-group btn-group-yesno"
		    label="COM_LOGBOOK_FIELD_SHOW_DOWNLOADS_LABEL"
		    description="COM_LOGBOOK_FIELD_SHOW_DOWNLOADS_DESC"
		    default="1">
		    <option value="1">JSHOW</option>
		    <option value="0">JHIDE</option>
	    </field>


		<field name="spacer1" type="spacer" hr="true" />

		<field
			name="filter_field"
			type="list"
			default="1"
			description="JGLOBAL_FILTER_FIELD_DESC"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_pagination"
			type="list"
			default="2"
			label="JGLOBAL_PAGINATION_LABEL"
			description="JGLOBAL_PAGINATION_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
		>
		<field
			name="rules"
			type="rules"
			component="com_logbook"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
		/>
	</fieldset>
</config>
